@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

.guide-reference-toggle {
    margin-right: 20px;
    margin-top: 6px !important;
}

.heading-row {
    background: #777;
    color: white;
    font-weight: bolder;
}